*{
  box-sizing: border-box;
  font-family: 'Monument Extended', sans-serif;
  color: white;
}

.site-wrapper{
  background-color: #000000;
}

.container-fluid{
  background-color: #000000;
}

.offcanvas{
  background-color: #000000;
}