.about-header{
  max-width: 1736px;
  padding-top: 100px;
  margin: 0px auto 0;
  height: calc(100vh - 40px);
  h1{
    font-size: 100px;
  }
  .dev{
    .jun-dev{
      font-size: 20px;
      padding-top: 30px;
      margin-left: 10px;
    }
  }
  .row{
    margin-top: 100px;
    .col-6{
      .about-me{
        max-width: 800px;
      }
      .tech{
        .bullet-list{
          flex-wrap: wrap;
          .devicon{
            margin-top: 50px;
          }
          i{
            font-size: 70px;
            margin-right: 50px;
          }
        }
      }
    }
    .fab-icon{
      a{
        i{
          font-size: 100px;
          margin: 50px 10px 10px;
          transition: 0.4s ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
        }
      }
      .fa-github {
        color: #fcfadb;
      }
      .fa-linkedin {
        color: #0072b1;
      }
    }
  }
}
